.header {
    font-weight: bold;
    color:white;
    size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    text-align: center;
    background-color: rgb(4, 13, 39);
    padding-top:10px;
    padding-bottom:10px;
}

p{
    text-align: center;
    font-family: cursive;
    color: rgb(153, 51, 82);
    font-size: 18px;
    margin-top: 10px;
}